.profile__avatar {
    margin-right: 30px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    width: 120px;
    height: 120px;
}

@media screen and (max-width: 765px) {
    .profile__avatar {
        margin-right: 0;
        margin-bottom: 22px;
    }
}